{:source-paths ["src"]
 :dependencies [[reagent "1.0.0"]
                [re-frame "1.2.0"]
                #_[re-frisk "1.5.1"]
                [binaryage/devtools "1.0.3"]]
 :dev-http {3000 ["http-root"]}
 :builds {:app {:target :browser
                :output-dir "http-root/cljs-out"
                :asset-path "/cljs-out"
                :modules {:main {:entries [koreansrs.core]}}}}}
